:root {
    --mainColor: blueviolet;
    --darkerBg: #303030;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--darkerBg);
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    height: 100vh;;
}

.container-left {
    width: 25vw;
    height: 100vh;
    background-color: var(--darkerBg);
    ;
    border-right: 1px solid var(--mainColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-timing-function: ease-in;
}

.container-top {
    height: 20vh;
    width: 75vw;
    background-color: var(--darkerBg);
    border-bottom: 1px solid var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container-right {
    position: relative;
}

.input-left {
    background-color: var(--darkerBg);
    border: 1px solid #708090;
    border-radius: 0px;
    font-size: 25px;
    color: white;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 10px;
    cursor: pointer;
}

.input-left:focus-visible {
    outline: none;
    border: 1px solid var(--mainColor);
    caret-color: var(--mainColor);
    cursor: auto;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.input-container {
    position: relative;
    width: 90%;
    height: 50px;
    margin: 20px;
}

.input-container.up .input-name {
    transform: translateY(-50%);
    font-size: 16px;
    padding: 0 20px;
}

.input-name {
    position: absolute;
    background-color: var(--darkerBg);
    color: #708090;
    top: 0;
    left: 20px;
    transform: translateY(60%);
    font-size: 20px;
    padding: 0;
    transition: transform .2s, padding .3s .1s, font-size .3s;
    cursor: pointer;
}

.input-left:focus~.input-name {
    transform: translateY(-50%);
    font-size: 16px;
    padding: 0 20px;
    color: var(--mainColor);
    cursor: auto;
}

.btn-container {
    position: relative;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
    width: 90%;
    height: 50px;
    cursor: pointer;
    border: none;
    color: #333;
}

.btn-container>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--mainColor);
    font-size: 25px;
    color: #333;
}

.btn-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    transition: transform .3s;
}

.btn-container:active::after {
    animation: splash .2s forwards;
}

@keyframes splash {
    0% {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleX(1.1) scaleY(1.5);
    }
}

.clicker-button {
    max-width: 540px;
    max-height: 200px;
    background-color: transparent;
    border: 1px solid var(--mainColor);
    cursor: pointer;
    transition: .1s;
    display: grid;
    grid-template-columns: repeat(27, 20px);
    grid-template-rows: repeat(10, 20px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.button-container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -20%);
}

.clicker-button-shadow {
    box-shadow: 0 2px 4px 0 var(--mainColor), 0 3px 10px 0 var(--mainColor);
}

.reset-button, .upgrade-button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10vw;
    height: 5vh;
    line-height: 5vh;
    color: var(--mainColor);
    font-size: 24px;
    font-weight: bold;
    background-color: var(--darkerBg);
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    min-width: 10vw;
}

.reset-button:hover {
    background-color: rgb(53, 53, 53);
}

.upgrade-button {
    position: absolute;
    right: 0;
    top: 0;
}

.upgrade-button:hover {
    background-color: rgb(53, 53, 53);
}

.generated-number {
    color: var(--mainColor);
    font-size: 85px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px
}

.change-color-theme,
.animation-color-theme {
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: var(--mainColor);
    border: none;
    z-index: 5;
}

.animation-color-theme{
    bottom: 0;
    left: 20px;
    background-color: transparent;
    border: 1px solid var(--mainColor);
}
.stats-menu {
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
}

.stat- {
    border: 1px solid var(--mainColor);
    width: 90%;
    height: 100px;
}

.magic-square {
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    /*change here to square */
    /* border-radius: 10px;  */
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0px 15px var(--mainColor);
    /* border: 1px solid #111845a6; */
    color: white;
    /* here for dimensions change */
    padding: 10px;
    /*change here to rotate */
    transform: rotate(45deg);
}

.simple {
    transform: rotate(0deg);
}

.magic-square span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.magic-square::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--mainColor);
    opacity: 0.3;
}

.magic-square span:nth-child(1) {
    transform: rotate(0deg);
}

.magic-square span:nth-child(2) {
    transform: rotate(90deg);
}

.magic-square span:nth-child(3) {
    transform: rotate(180deg);
}

.magic-square span:nth-child(4) {
    transform: rotate(270deg);
}

.magic-square span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--mainColor);
    /* change animation speed */
    animation: animate .7s linear infinite;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

.drop {
    animation: drop 2s forwards;
  }
  @keyframes drop {
    0% {
      transform-origin: center;
      opacity: 1;
    }
    20% {
      transform: 
        translate3d(0, 20px, 0)
        rotate3d(0, 0, 1, 240deg);
      opacity: 1;
    }
    90%{
        opacity: 1;
    }
    to {
      opacity: 1;
      transform: 
        translate3d(0, -500px, 0)
        rotate3d(0, 0, 1, 0deg);
        opacity: 0;
    }
  }

 
  @media only screen and (max-width: 768px) {
    .clicker-button {
        max-width: 220px;
        max-height: 100px;
        display: grid;
            grid-template-columns: repeat(10, 20px);
            grid-template-rows: repeat(5, 20px);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            grid-auto-rows: max-content;
            grid-auto-columns: max-content;
    }

    .container-left{
        display: none;
    }
    .container-top{
        width:100vw;

    }
    
  }


@keyframes rainbow{
    0%{border-color: var(--mainColor,red);}
    14.285714285714285714285714285714%{border-color:var(--mainColor,orange);}
    28.571428571428571428571428571428%{border-color:var(--mainColor,yellow);}
    42.857142857142857142857142857142%{border-color:var(--mainColor,green);}
    57.142857142857142857142857142856%{border-color:var(--mainColor,blue);}
    71.42857142857142857142857142857%{border-color:var(--mainColor,indigo);}
    100%{border-color:var(--mainColor,purple);}
}

.rainbow-aniamtion{
   animation:rainbow 3s;        
}    